nav {
    background-color: #ffffff;
    box-shadow: 5px 5px 20px black;
    border-radius: 5px;
    margin-top: 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: gray;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;

}
form{
    margin-top: 20px;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border-bottom: 1px solid rgb(134, 128, 128);
    padding: 8px;
    text-align: left;
}

footer{
    margin-top: 100px;
    padding: 10px;
    box-shadow: 0px -5px black;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
}